.bg {
  background: rgb(229, 126, 255);
  background: linear-gradient(
    90deg,
    rgba(178, 9, 220) 12%,
    rgba(6, 132, 216, 1) 100%
  );
}
.barre1 {
  width: 10%;
  height: 39px;
}
.barre2 {
  background-color: white;
  margin: 3% auto;
  padding: 2%;
  width: 60%;
  cursor: pointer;
}
.barre1,
.barre2 {
  border-radius: 10px;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

.completed {
  text-decoration: line-through;
  color: rgb(0, 187, 91);
}
